<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>

<body>
    <div id ="div_orig">
        <div class="menu">
            <div v-if="email != '' ">
                <div class="user">
                    <span class="email">Пользователь: {{email}}</span>
                </div>
                <ul id="panel">
                    <li><a href="/exit" onclick="alert('Вы вышли из аккаунта 👋')">Выйти</a></li>
                </ul>
            
            </div>
            <div v-else>
                <ul id="panel">
                    <li><a href="/login">Войти</a></li> 
                </ul>
            </div>
        </div>


        <div class="main" id="div">
            <h1>Заметки</h1>
            <div class="input-container">
                <input class="textArea" type="text" placeholder="Начните писать заметку ❤️" v-model="inputValue"
                    @keypress.enter="addNotes" />
            </div>
            <div class="button-container">
                <button class="addButton" @click="addNotes" >Добавить заметку</button>
            </div>

            <ul class="list-item">
                <li class="list" v-for="(note, i) in nodes" :key="note.id">
                    <span class="note-text">{{note.content}}</span>
                    <button class="clear" @click="clearNotes(note.id)">Удалить</button>
                    <button class="edit" @click="editNotes(note.id)">Редактировать</button>
                </li>
            </ul>
            <div class="if" v-if="nodes.length === 0">Заметок нет</div>
        </div>

        <div>

            <!-- диалоговое окно редактирования заметки -->
            <dialog id="myDialog">
                <div class="dialog-content">
                    <p>Редактирование заметки</p>
                    <form>
                        <input @keypress.enter="updateNotes(editingID)" class="textArea_edit" type="text" placeholder="Стер?! 😉" v-model="editingNote"/>
                    </form>
                    <div class="dialog-buttons">
                    <button class="save-btn" @click="updateNotes(editingID)"  onclick="document.getElementById('myDialog').close()" >Сохранить</button>
                    <button class="cancel-btn" onclick="document.getElementById('myDialog').close()">Закрыть</button> 
                </div>
                </div>
            </dialog>
        </div>
        

    </div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const App = {
            data() {
                return {
                    inputValue: '',
                    nodes: [],
                    email: "",
                    editingNote: "",
                    editingID: null

                }
            },
            mounted(){
                this.loadNotes()
                this.loadEmail()
            },
            methods: {
                async addNotes() {
                    if (!this.inputValue.trim()) return

                    try{
                        const res = await fetch("/api/notes",{
                            method: 'POST',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify({ content: this.inputValue })
                        })
                        const createdNote = await res.json()
                        console.log(createdNote)
                        
                        if (!res.ok) throw new Error('Ошибка добавления заметки')

                        await this.loadNotes()
                        this.inputValue = ''


                    }catch(err){
                        console.error(err)
                    }
                },
                async clearNotes(noteId) {
                    try{
                        const res = await fetch(`/api/notes/${noteId}`, {
                            method: `DELETE`
                        })
                        if (!res.ok) throw new Error('Ошибка удаления')
                        await this.loadNotes()

                    }catch(err){
                        console.error(err)
                    }
                },

                async loadNotes(){
                    try{
                        const res = await fetch("/api/notes")
                        if (!res.ok) throw new Error("Ошибка загрузки заметок")
                        const data = await res.json()
                        this.nodes = data

                    }catch (err){
                        console.error(err)
                    }
                },
                async loadEmail(){
                    try{
                        const res = await fetch("/email")
                        if (!res.ok) throw new Error("Ошибка загрузки пользователя")
                        const data = await res.json()
                        this.email = data.email


                    }catch(err){
                        console.error(err)
                    }
                },
                // редактирование заметки, открытие окна и запрос на получения нужной заметки из бд
                async editNotes(noteId){
                    document.getElementById('myDialog').showModal()
                    try{
                        const res = await fetch(`/edit?id=${noteId}`, {
                            method: `GET`
                        })
                        if (!res.ok) throw new Error("Ошибка загрузки заметки для редактирования")
                        const data = await res.json()
                        this.editingNote = data.content
                        this.editingID = noteId
                        
                        

                    }catch(err){
                        console.log(err)
                    }
                },

                // обнавление заметки
                async updateNotes(noteId){
                    try{
                        const res = await fetch("/api/notes",{
                            method: 'PUT',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify({ content: this.editingNote, id: this.editingID })
                        })
                        await this.loadNotes()
                        
                    }catch(err){
                        console.log(err)
                    }

                }
                

            }
        }
        Vue.createApp(App).mount('#div_orig')
    </script>
</body>
</html>