<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="../static/style_for_reg.css" />
</head>
<body>
    <div id="div_reg">
        <h2>Регистрация</h2>
        <form method="post" autocomplete="off" action="http://localhost:8080/login.php">
            <p>
                <label for="email">Логин</label>
                <input type="email" name="email" placeholder="Введите email" autocomplete="on" required id="email" v-model="inputValue_email"/> 
            </p>

            <p>
                <label for="email">Пароль</label>
                <input type="password" name="password" placeholder="Введите пароль" required id="password" v-model="inputValue_pass"/>
            </p>

            <p>
                <label for="email">Повторите пароль</label>
                <input type="password" name="password" placeholder="Повторите пароль" required id="password" v-model="inputValue_rep_pass"/>
            </p>
            
            <p>
                <button type="submit" formmethod="get", formaction="file.html">Отправить</button>
                <button type="reset">Отмена</button>
            </p>

            <p>
                <span><a href="/">Вернуться обратно</a></span>
            </p>

            <span><p>{{inputValue_email}}</p></span>
            <span><p>{{inputValue_pass}}</p></span>
            <span><p>{{inputValue_rep_pass}}</p></span>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const App = {
            data() {
                return {
                    inputValue_email: '',
                    inputValue_pass: '',
                    inputValue_rep_pass: '',
                }
            },
            methods: {
            }
        }
        Vue.createApp(App).mount('#div_reg')
    </script>
            
</body>
</html>

